{% extends 'base.html' %}
{% load static %}
{% autoescape off %}

{% block title %} Register confirm sucess {% endblock %}

{% block content %}

<form method="post" action="{% url 'accounts:password_reset_confirm' uidb64=uidb64 token=token %}">
    {% csrf_token %}
    
    {{ reset_password_form.non_field_errors }}
    {% for field in reset_password_form %}
    <div>
        <div>
            {{field.label}}
        </div>
        <div class="inputlist">
            {{field}}
        </div>
        {% for error in field.errors %}
        <div>
            <span class="errorlist">{{error}}</span>
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" value="Submit"> Salvar </button>
</form>

{% endblock %}

{% endautoescape %}