{% extends 'base.html' %}
{% load static %}
{% autoescape off %}

{% block title %} Register confirm sucess {% endblock %}

{% block content %}

<div class="reset-form-container">
    <div class="reset-form-content">
        <div class="reset-form-items-descricao">
            <ul>
                <li><i class="fa-duotone fa-check fa-2x"></i><span>Escolha uma senha forte</span></li>
                <li><i class="fa-duotone fa-check fa-2x"></i><span>Não compartilhe com ninguém a sua senha</span></li>
                <li><i class="fa-duotone fa-check fa-2x"></i><span>Caso se esqueça, não tem problema!</span></li>
                <li><i class="fa-duotone fa-check fa-2x"></i><span>Recuperamos a senha para vocẽ!</span></li>
            </ul>
        </div>
        <div class="reset-form-items-form">
            <form method="post" action="{% url 'accounts:password_reset_confirm' uidb64=uidb64 token=token %}">
                {% csrf_token %}
                {{ reset_password_form.non_field_errors }}
                {% for field in reset_password_form %}
                <div class="form-login-items-labelinput">
                    <div class="form-login-items-labelinput-label">
                        {{field.label}} {% if field.label != '' %} <span>*</span> {% endif %}
                    </div>
                    <div>
                        {{field}}
                    </div>
                </div>
                {% endfor %}
                <button type="submit" value="Submit"> Salvar </button>
            </form>
        </div>
    </div>
</div>

{% endblock %}

{% endautoescape %}