{% extends 'base.html' %}
{% load static %}

{% block title %} Register confirm sucess {% endblock %}

{% block content %}

<div class="password_reset_container">
    <div class="password_reset_content">
        <div>
            <h2>Recuperar a senha</h2>
            <h3>Para redefinir sua senha, ensira o e-mail que você cadastrou.</h3>
            <h3>O link será enviado ao seu e-mail. Por favor, checar a caixa de entrada e spam.</h3>
        </div>
        <div class="password_reset_item-form">
            <form method="post" action="{% url 'accounts:password_reset' %}">
            {% csrf_token %}
            {{ password_reset_form.non_field_errors }}
            {% for field in password_reset_form %}
            <div class="form-login-items-labelinput">
                <div class="form-login-items-labelinput-label">
                    {{field.label}} {% if field.label != '' %} <span>*</span> {% endif %}
                </div>
                <div>
                    {{field}}
                </div>
            </div>
            {% endfor %}
            <button type="submit" value="Submit"> Enviar </button>
            </form>
        </div>
    </div>
</div>
{% endblock %}