{% extends 'base.html' %}
{% load static %}

{% block title %} Register {% endblock %}

{% block content %}
<div class="form-register-container">
    <div class="form-register-content">
        <div class="form-register-items-img">
            <img src="{% static 'img/python-application.png' %}" alt="" style="height: 100%;">
        </div>
        <div class="form-register-items-formregister">
            <form method="post" action="{% url 'accounts:register' %}">
                {% csrf_token %}
                {{ user_form.non_field_errors }}
                {% for field in user_form %}
                <div class="form-login-items-labelinput">
                    <div class="form-login-items-labelinput-label">
                        {{field.label}} {% if field.label != '' %} <span>*</span> {% endif %}
                    </div>
                    <div class="inputlist">
                        {{field}}
                    </div>
                </div>
                {% endfor %}
                <button type="submit" value="Submit"> Continuar </button>
            </form>
        </div>
    </div>
</div>

<a href="{% url 'accounts:logout_user' %}"> LOGOUT KKKKKKKKKKK</a>

{% endblock %}



<!-- <form method="post" action="{% url 'accounts:register' %}">
    {% csrf_token %}
    {% for field in user_form %}
    <div>
        {{field.label}}
    </div>
    <div>
        <div class="inputlist">
            {{field}}
        </div>
        {% for error in field.errors %}
        <div> 
            <span class="errorlist">{{error}}</span> 
        </div>
        {% endfor %}
    </div>
    {% endfor %}
    <button type="submit" value="Submit"> Continuar </button>
</form>

<a href="{% url 'accounts:logout_user' %}"> LOGOUT KKKKKKKKKKK</a> -->