* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
:root {
    --main-color: #61a5bf;
    --second-color: #fdd550;
    --third-color: #ffffff;
    --background-color: rgb(255, 245, 233);
    --green-color: #00ff2a;
    --gray-color: #a5a3a3cc;
    --black-color: black;
}

body, html {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
  }

a {
    text-decoration: None;
}

li {
    list-style-type: none;
}

/* ####  HEADER ####*/


.header-container {
    background-color: var(--main-color);
}

.header-content {
    display: flex;
    gap: 20px;
    justify-content: space-around;
    padding: 20px;

}


#logo {
    width: 7rem;
}

.header-block-search {
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    align-items: center;
}

#name {
    /* color: aqua; */
    font-family: 'Roboto Slab', serif;
    text-align: center;
    color: var(--third-color);
}

#name span {
    border-left: 7px solid var(--second-color);
    border-right: 7px solid var(--second-color);
    padding: 0 20px;
}

#search {
    width: 50rem;
    height: 3rem;
    padding: 0 20px;
    border: 1px solid var(--third-color);
    box-shadow: 0 0 19px rgb(0 0 0 / 10%);
    border-radius: 5px;
    font-size: 20px;
    font-family: 'Roboto Slab', serif;
    transition: all 1s ease;
}

.navbar {
    display: flex;
    justify-content: space-between;
    list-style: none;
    font-size: 20px;
    flex-wrap: wrap;
    width: 100%;
}

.navbar li {
    position: relative;
}


.navbar > li > a {
    color: var(--third-color);
}


.navbar li:hover .dropdown {
    display: flex;
    flex-direction: column;
    width: 150%;
    align-items: center;
    align-content: center;
    left: -25%;
  }

.dropdown {
    display: none;
    position: absolute;
    background-color: #fff;
    width: 100%;
    z-index: 1;
    text-align: center;
    box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
    border: 1px solid black 50px;
    border-radius: 5px;
}

.dropdown a{
    
    color: var(--black-color);
    font-size: 15px;
    font-family: 'Roboto Slab', serif;
    border: 50%;
    padding: 5px;
  }

.dropdown a:hover{
    background-color: var(--gray-color);
    border: 50%;
}



/* #search:focus {
    border: 3px solid var(--second-color);
    outline: none;
} */



.search-form {
    position: relative;
}

.search-form i {
    position: absolute;
    top: 22%;
    left: 95%;
    z-index: 1;
    transition: all 1s ease;
}

.icon {
    position: relative;
}

.icon i {
    position: absolute;
    top: 22%;
    left: 2%;
}





.underline-left-to-right {
    position: relative;
    margin: 30px 0;
  }
  
.underline-left-to-right:before {
    content: "";
    position: absolute;
    width: 0%;
    height: 7px;
    top: -5.5px;
    left: 0;
    background-color: var(--second-color);
    transition: width 0.5s ease-in-out;
  }
  
  .underline-left-to-right:hover:before {
    width: 100%;
  }


.header-block-options {
    display: flex;
    flex-direction: column;
    justify-content: space-around;
    font-family: 'Roboto Slab', serif;
    font-size: 20px;
    max-width: 200px;
    min-width: 200px;
    max-height: 163px;
    min-height: 163px;
  }

.header-block-options a {
    color: var(--main-color);
}

.header-block-options i {
    color: var(--main-color);
}

.header-item-orders {
    display: flex;
    justify-content: space-between;
    background-color: var(--third-color);
    text-align: center;
    padding: 8px 20px;
    cursor: pointer;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    white-space: nowrap;
    transition: all 1s ease;
}

.header-item-orders:hover {
    background-color: var(--main-color);
}

.header-item-orders:hover i {
    color: var(--third-color);
}

.header-item-orders:hover a {
    color: var(--third-color);
}

.header-item-profile {
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    align-items: center;
    white-space: nowrap;
    transition: all 1s ease;
}

.header-item-profile:hover {
    background-color: var(--main-color);
}

.header-item-profile:hover i {
    color: var(--third-color);
}

.header-item-profile:hover a {
    color: var(--third-color);
}

.order {
    display: flex;
    flex-direction: column;
}

#cart {
    position: relative;
}

#cart span {
    position: absolute;
    left: 90%;
    bottom: 35%;
}

.header-item-myaccount {
    background-color: var(--third-color);
    display: flex;
    justify-content: space-between;
    cursor: pointer;
    padding: 8px 20px;
    border: 1px solid #c4c4c4;
    border-radius: 5px;
    align-items: center;
    white-space: nowrap;
    transition: all 1s ease;
}

.header-item-myaccount:hover {
    background-color: var(--main-color);
}

.header-item-myaccount:hover i {
    color: var(--third-color);
}

.header-item-myaccount:hover a {
    color: var(--third-color);
}

@media (max-width:1620px) {
    #search {
        width: 40rem;
    }
    .search-form {
        position: relative;
    }
    .search-form i {
        left: 94%;
    }
    .icon {
        position: relative;
    }
    .icon i {
        position: absolute;
        top: 22%;
        left: 2%;
    }
  }

@media (max-width:1420px) {
    #search {
        width: 30rem;
    }
    .search-form i {
        left: 92%;
    }
    .search-form {
        position: relative;
    }
    .icon {
        position: relative;
    }
    .icon i {
        position: absolute;
        top: 22%;
        left: 2%;
    }
  }

@media (max-width:880px) {
    .header-content {
        display: none;
    }
  }