* {
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
}
  
:root {
    --main-color: #61a5bf;
    --second-color: #fdd550;
    --third-color: #d5d5d5;
    --background-color: rgb(255, 245, 233);
    --green-color: #00ff2a;
}


/* ####  HEADER ####*/


body {
  overflow-x: hidden; /* evita a rolagem horizontal da página */
}

#menu {
  position: fixed;
  top: 0;
  left: -300px; /* começa fora da tela, deslocado para a esquerda */
  width: 300px;
  height: 100%;
  background-color: #333;
  color: white;
  transition: all 0.3s ease-in-out; /* animação de transição */
  z-index: 1; /* coloca o menu acima do resto da página */
}

#menu.open {
  left: 0; /* desloca o menu para a posição visível */
}

#menu ul {
  list-style: none;
  padding: 0;
  margin: 0;
}

#menu li {
  margin: 10px;
  font-size: 1.2em;
}

#menu a {
  color: white;
  text-decoration: none;
}

#menu-button {
  display: block;
  margin: 20px;
  padding: 10px;
  font-size: 1.2em;
}

#close-menu-button {
  display: block;
  margin: 20px;
  padding: 10px;
  font-size: 1.2em;
}
