{% load static %}

<!DOCTYPE html>
<html lang="pt-br">

<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>{% block title %} {% endblock %}</title>
    <link rel="stylesheet" href="{% static 'css/style.css' %}">
</head>

<body>
    <!-- <a href="{% url 'accounts:register' %}"> Registrar </a> -->

    <header class="header">
        <div class="header"> kk</div>
        {% if request.user.is_anonymous %}
        <div><a href="{% url 'accounts:login_user' %}"> login </a></div>
        {% endif %}
        {% if request.user.is_authenticated %}
        <div><a href="{% url 'accounts:logout_user' %}"> logout </a></div>
        <div><a href="{% url 'accounts:profile_user' %}"> ver perfil </a></div>
        {% endif %}
    </header>
    {% block content %}

    {% endblock %}


</body>

</html>