{% extends 'base.html' %}

{% load static %}

{% block title %} index {% endblock %}

{% block content %}

<section class="section-container">
    <div class="slideshow-container">
        <div class="slideshow-content">
            <a href="">
                <div class="mySlides fade" style="display: block;">
                    <img src="/static/img/banner1.webp">
                </div>
            </a>
            <a href="">
                <div class="mySlides fade" style="display: none;">
                    <img src="/static/img/banner2.webp">
                </div>
            </a>
            <a href="">
                <div class="mySlides fade" style="display: none;">
                    <img src="/static/img/banner3.webp">
                </div>
            </a>
            <div class="dots">
                <span class="dot active"></span> 
                <span class="dot"></span> 
                <span class="dot"></span> 
            </div>
        </div>
    </div>

    <div class="smartphones-container">
        <h2 class="smartphone-title">Smartphones</h2>
        <div class="smartphones-content">
            <button class="pre-btn"><i class="fa-2x fa-sharp fa-solid fa-angles-left"></i></button>
            <div class="product-container">
                {% for product in products %}
                    <div class="product-card">
                        <div class="product-image">
                            <span class="discount-tag">50% off</span>
                            <img src="{% if product.main_image %}{{product.main_image.url}} {% else %}{% static 'img/no_image.png' %}{% endif %}" class="product-thumb" alt="">
                        </div>
                        <div class="product-info">
                            <h3 class="product-brand">{{product}}</h3>
                            <span class="price">$20</span><span class="actual-price">$40</span>
                        </div>
                    </div>
                {% endfor %}
            </div>
            <button class="nxt-btn"><i class="fa-2x fa-sharp fa-solid fa-angles-right"></i></button>
        </div>
    </div>

</section>


{% endblock %}