{% extends 'base.html' %}
{% load static %}

{% block title %} index {% endblock %}

{% block content %}

<!-- <div id="sidebar">
    <h3>Categories</h3>
    <ul>
        <li {% if not category %}class="selected" {% endif %}>
            <a href="{% url 'core:index' %}">All</a>
        </li>
    </ul>
</div> -->
<!--
    TODO PAGINAÇÃO DOS ITEMS
-->
<div id="main" class="product-list-container">
    <h1>{% if category %}{{ category.name }}{% else %}Products{% endif %}</h1>
    <div class="product-list-content">
        <!-- PAGINATION PREVIOUS -->
        {% if page_obj.has_previous %}
            <a href="?page={{ page_obj.previous_page_number }}"><i class="fa-solid fa-backward"></i></a>
        {% endif %}
        {% for obj in page_obj %}
        <div class="product-list-item">
            <a href="{{ obj.get_absolute_url }}">
                <div class="product-list-item-img">
                    <img src="{% if obj.image %}{{ obj.image.url }}{%else %}{% static 'img/no_image.png' %}{% endif %}">
                </div>
                <div>
                    <a href="{{ obj.get_absolute_url }}">{{ obj.name }}</a>
                </div>
                <br>
                ${{ obj.price }}
            </a>
        </div>
        {% endfor %}
        <!-- PAGINATION NEXT -->
        {% if page_obj.has_next %}
            <a href="?page={{ page_obj.next_page_number }}"><i class="fa-duotone fa-forward"></i></a>
        {% endif %}
    </div>
</div>

{% endblock %}